@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure underline works within Tailwind Prose */
.prose u {
  text-decoration: underline;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
